CAPTCHA_SOLVE_URL=http://localhost:8001/solve

BASE_URL=http://demo.hivagold.com
LOGIN_URL=http://demo.hivagold.com/api/user/api/auth/login/
GET_CAPTCHA_INFO_URL=http://demo.hivagold.com/api/user/api/captcha-image/
GET_CAPTCHA_IMAGE_BASE_URL=http://demo.hivagold.com/api
VERIFY_CAPTCHA_URL=http://demo.hivagold.com/api/user/api/captcha-verify/
COOKIES_VALIDATION_URL=http://demo.hivagold.com/api/profile/api/tether-rate/

AUTH_WORKER_PORT=8002
AUTH_WORKER_HOST=0.0.0.0

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=vuvtntz123
REDIS_TTL=432000

ADD_DEFAULT_HEADERS=true

APP_NAME=BOT Auth Worker
APP_VERSION=1.0.0
ENVIRONMENT=development
