APP_NAME=Bot Room Worker
APP_VERSION=1.0.0
ENVIRONMENT=production
HIVAGOLD_TENANT_ID=11111

ROOM_WORKER_HOST=0.0.0.0
ROOM_WORKER_PORT=8005

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=admin123

BASE_DOMAIN=http://hivagold.com
ROOM_PREFIX=/xag
ADD_DEFAULT_HEADERS=true

REDIS_LOGIN_DATA_TTL=1209600
