# Captcha Worker Configuration
APP_NAME=Bot Captcha Worker
APP_VERSION=1.0.0.0
ENVIRONMENT=development
CAPTCHA_WORKER_HOST=0.0.0.0
CAPTCHA_WORKER_PORT=8001
CAPTCHA_CODE_LENGTH=6
CAPTCHA_SOLVER_MAX_RETRY=4
